<div class="article-container">

  <h1><%= @post.title %></h1>
  <p><%= @post.article %></p>

  <% if current_user == @post.author %>
    <%= link_to 'Edit', edit_post_path(@post) %>
    <%= link_to 'Delete', post_path(@post), method: 'delete' %>
  <% end %>


  <% if logged_in? %>
    <h2>New Comment</h2>
    <%= render 'comments/form' %>
  <% else %>
    <h2><%= link_to 'Login', new_user_path %> to leave a new comment</h2>
  <% end %>

<div class="comments-container">
  <%= render @post.comments %>
</div>

</div>
